body{
    background-color:#F8F8FF;
}

.page-title{
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.025em;
    word-spacing: -0.002em;
    line-height: 1.4;
    margin-bottom: 30px;
}
.post h1.post-title{
  font-size: 38.5px;
}
.post h1{
   font-size: 31.5px;
}

.post{
    border-bottom: 1px dashed gray;
    margin-bottom: 40px;
}
