body{
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}

h1{
    font-family: 'IM Fell English', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.025em;
    word-spacing: -0.002em;
    line-height: 1.4;
}

h2{
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}

p{
    margin-bottom:20px;
    margin-top: 20px;
}
