.post img{
    display:block;
    box-shadow: 3px 3px 7px #777;
}
.post {
  margin-top: 25px;
}
.home {
  margin-top: 40px;
}
.date {
  color: gray;
}
.post-metadata { 
    margin-bottom: 30px;
}

blockquote p {
  font-size: 14px;
  line-height: 1.2;
}