---
layout: default_layout
---
<div class="row">
    <div class="span7">
    <div class="page-title"><a
            style="text-decoration:none;color:black;" title="Email me" href="mailto:drozzy@gmail.com">Andriy Drozdyuk</a></div>
    </div>
</div>

<div class="row">
  <div class="span6">
    {% for post in site.posts  %}

    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
    <div class="date">{{post.date|date_to_long_string}}</div>
    <p>
      {% for tag in post.tags %}<span class="label label-default">{{tag}}</span>{% endfor %}
    </p>
    <p>{{post.excerpt}}</p>
    <p>
      <a class='btn btn-small btn-default' href="{{post.url}}">Read more</a>
    </p>

    {% endfor %}
  </div>
  <div class="span6">
     {% for tag in site.tags %}
         {{tag.url}}
     {% endfor %}
  </div>

</div>

