<div class="row">
    <div class="span7 offset4">
        <div class="post">
            <h1>
                <a name="{{post.id}}" style="text-decoration:none;color:black;" href="#{{post.id}}">{{post.title}}</a>
            </h1>
            <div>
                By <a href="/">Andriy Drozdyuk</a> <em style='display:block;margin-bottom:15px;'>Posted
                on {{post.date|date_to_long_string}}.</em>
            </div>
            {{post.content}}
        </div>
    </div>
</div>
