<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <!-- Twitter bootstrap -->

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <!-- css for fonts -->
    <link href='http://fonts.googleapis.com/css?family=Cabin|IM+Fell+English' rel='stylesheet' type='text/css'>
    <!-- my stylesheets -->
    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
    
<title>{{ page.title }}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- left col -->
            <!-- right col - content -->
            <div class="offset4 span7">
                <div class="blog-title">Andriy Drozdyuk</div>
                {{ content }}
            </div>
        </div><!-- row -->
    </div>
</body>
</html>
