---
layout: default_layout
---

<div class="row">
    <div class="span4">
      <div class="home">
       <i class="icon-home"></i> <a href="/">Andriy Drozdyuk</a>
      </div>
    </div>
    <div class="span7">
        <div class="post">
            <h1 class="post-title">
                {{page.title}}
            </h1>
            {{content}}

            <div class="post-metadata">
              {% for tag in page.tags %}
              <span class="label label-default">{{tag}}</span>
              {% endfor %}
              <div class="date">{{page.date|date_to_long_string}}.</div>
            </div>

        </div>
    </div>
</div>
